extends layout

block title 
    title Error

block content 
    h1 Server Error 
    p Sorry! There was an unexpected error on the server.
    h3 Error:
    pre= error.message 
    pre= error.stack
    a(class="button" href="/") Home
