extends layout 

block title 
    title Books 

block content 

    include alertbox.pug

    h1 Books
    p 
        a(class="button" href="/books/new") Create New Book
    
    if rows
        table 
            thead 
                tr 
                    th Title 
                    th Author
                    th Genre 
                    th Year 
            tbody
                each val in rows
                    tr 
                        td
                            a(href='/books/' + val.id)= val.title
                        td= val.author 
                        td= val.genre 
                        td= val.year 