doctype html
head
  block title 

  link(href='/static/stylesheets/style.css' rel='stylesheet')
body 
  .container
    
    include alertbox.pug
    block content

    //- .home 
    //-   a(class="button" href="/" id="home") Home