.pagination 
    if pages > 1
        nav
            - var n = 1
            while n <= pages 
                if n==currentPage
                    a(class="active button" href="" + url + "page=" + n)= n++
                else 
                    a(class="button" href="" + url + "page=" + n)= n++
    .home 
        a(class="button" href="/" id="home") Home